In [208]:
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow import keras
from keras.models import Sequential
from keras.layers import Dense, Input

In [209]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix

In [210]:
df = pd.read_csv('./dataset/indian_liver_patient.csv')
display(df.head())

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
0,65,Female,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,Male,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,58,Male,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40,1

In [211]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583 entries, 0 to 582
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Age                         583 non-null    int64
 1   Gender                      583 non-null    object
 2   Total_Bilirubin             583 non-null    float64
 3   Direct_Bilirubin            583 non-null    float64
 4   Alkaline_Phosphotase        583 non-null    int64
 5   Alamine_Aminotransferase    583 non-null    int64
 6   Aspartate_Aminotransferase  583 non-null    int64
 7   Total_Protiens              583 non-null    float64
 8   Albumin                     583 non-null    float64
 9   Albumin_and_Globulin_Ratio  579 non-null    float64
 10  Dataset                     583 non-null    int64
dtypes: float64(5), int64(5), object(1)
memory usage: 50.2+ KB

In [212]:
df['Gender'] = df['Gender'].apply(lambda x: 1 if x == 'Male' else 0)

In [213]:
df[df['Albumin_and_Globulin_Ratio'].isnull()]
df["Albumin_and_Globulin_Ratio"] = df.Albumin_and_Globulin_Ratio.fillna(df['Albumin_and_Globulin_Ratio'].mean())

In [214]:
data = df.values
data.shape

(583, 11)

In [215]:
X = data[:, :-1]
Y = data[:, -1]

In [216]:
scaler = MinMaxScaler()
X = scaler.fit_transform(X)

In [217]:
(X_train, X_test, Y_train, Y_test) = train_test_split(X, Y, test_size=0.3)
Y_train = Y_train.reshape(408, 1)
Y_test = Y_test.reshape(175, 1)
print("X_train shape:" + str(X_train.shape))
print("Y_train shape:" + str(Y_train.shape))
print("X_test shape:" + str(X_test.shape))
print("Y_test shape:" + str(Y_test.shape))

X_train shape:(408, 10)
Y_train shape:(408, 1)
X_test shape:(175, 10)
Y_test shape:(175, 1)

In [218]:
logreg = LogisticRegression()
logreg.fit(X_train, Y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

LogisticRegression()

In [219]:
log_reg_score = round(logreg.score(X_train, Y_train) * 100, 2)
log_reg_test_score = round(logreg.score(X_test, Y_test) * 100, 2)
print('Logistic Regression train score: ', log_reg_score)
print('Logistic Regression test score: ', log_reg_test_score)

Logistic Regression train score:  71.57
Logistic Regression test score:  73.14